   * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }

   html,
   body {
     height: 100%;
     width: 100%;
     font-family: "gilroy";
   }

 /* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  display: none;
}
